body {
    background-image: url(../images/seattleKrollMap.jpg);
    font-family: 'Abel', sans-serif;
    
}
.container {
    background-color: #83b26f;
    border: 2px solid #050d0b;
}

button {
    background-color: #f4e774;
    letter-spacing: 3px;

}
.btn:hover {
    background-color: #fad75c;

}
a {
    color: #f4e774 
}
a:hover {
    color: #fad75c;
}
h1 {
    font-family: 'Kumar One', cursive;
    font-size: 45px;
}
h4 {
    font-size: 30px;
}
h3 {
    font-size: 30px;

}
.content {
    background-color: #f7ebd1;
    border: 3px solid #80b2a7;
}

img {
    width: 100%;
}
